* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 15px;
  background-color: rgba(169, 107, 0, 0.5);
}
body {
  width: 100%;
  height: 100%;
}
#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.bookdiv {
  display: flex;
  background-color: rgb(169, 107, 0);
  color: white;
  padding: 15px;
  margin: 15px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: opacity 1s ease;
}
.bookdiv:hover {
  display: flex;
  background-color: rgb(1, 1, 137);
  color: white;
  padding: 15px;
  margin: 15px;
  width: 100%;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.delete {
  opacity: 0;
  transform: scale(0.95);
}
input {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
input:hover {
  transform: scale(1.05);
  background-color: rgb(247, 175, 87);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.inputtxtarea {
  background-color: rgb(169, 107, 0);
  color: white;
  border: none;
}
.inputtxtarea:hover {
  background-color: rgb(247, 175, 87);
  color: white;
  border: none;
}
.inputform {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#bookList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  margin: 0px 15px 0px 0px;
  height: 100%;
  width: 150px;
  object-fit: cover;
}
.selectbtn {
  padding: 5px;
  margin: 5px;
  align-items: center;
  text-align: center;
}
.btn {
  padding: 15px;
  margin: 15px;
  text-align: center;
}
.bookdiv .btn {
  height: 25%;
  padding: 15px;
  margin: 15px;
  text-align: center;
}
textarea {
  resize: none;
  padding: 8px;
  vertical-align: top;
  text-align: left;
  line-height: 1.4;
}
form {
  padding: 15px;
  margin: 15px;
  background-color: rgba(169, 107, 0, 0.5);
}
#sortering {
  padding-top: 35px;
}
